{% extends 'base.html' %}
{% block content %}

{% include 'navigation/_alert.html'%}
<!-- Begin Slider With Banner Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-12 col-md-8">
                <div class="slider-area pt-sm-30 pt-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-1">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                                <h2>Chamcham Galaxy S9 | S9+</h2>
                                <h3>Starting at <span>$1209.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/drinks_page">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                                <h2>Work Desk Surface Studio 2018</h2>
                                <h3>Starting at <span>$824.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/tuber_page">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-3">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                <h2>Phantom 4 Pro+ Obsidian</h2>
                                <h3>Starting at <span>$1849.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/species_oil_page">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
           
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- product-area start -->
<div class="product-area pt-55 pb-25 pt-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                       <li><a class="active" data-toggle="tab" href=""><span>Our Shop Catalog</span></a></li>
                       
                    </ul>               
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                <div class="row">
                   
                            {% if untensiles %}
                                {% for untensile in untensiles %}
                            
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="{% url 'untensils_page'%}">
                                        <img src="{{untensile.image.url}}" alt="Li's Product Image">
                                    </a>
                                    
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="{% url 'untensils_page'%}">{{untensile.name}}</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="{% url 'untensils_page'%}">Click to View</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">${{untensile.price}}</span>
                                        </div>
                                    </div>
                                    <!-- <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active addtocart" data-action = "add" data-product="{{untensile.id}}" >Add to Cart</li>
                                           
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                                {% endfor %}
                            {% else %}
                            {% endif %}
                            <!-- single-product-wrap end -->
                        </div>
                        
                        
                        
                   
            </div>
            
            
            </div>
        </div>
    </div>
</div>
<!-- product-area end -->
<!-- Begin Li's Static Banner Area -->

<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45 pt-sm-50 pt-xs-60">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Grain and flour</span>
                    </h2>
                   
                </div>
                <div class="row">
                            {% if grain_flours %}
                                    {% for grain_flour in grain_flours %}
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="{{grain_flour.image.url}}" alt="Li's Product Image">
                                    </a>
                                    
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="#">{{grain_flour.name}}</a>
                                            </h5>
                                            <div class="rating-box">
                              *                  <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="#">Click to View</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">${{grain_flour.price}}</span>
                                        </div>
                                    </div>
                                    <!-- <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active addtocart" data-action = "add" data-product="{{grain_flour.id}}" >Add to Cart</li>
                                           
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                                {% endfor %}
                                {% else %}
                                <h3>Noting Available</h3>
                                {% endif %}
                            <!-- single-product-wrap end -->
                        
                    </div>
                </div>
            </div>
            
    </div>
</section><br><br><br>
<!-- Li's Laptop Product Area End Here -->
 <!-- Begin Li's Static Home Area -->
 <div class="li-static-home mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Begin Li's Static Home Image Area -->
                <div class="li-static-home-image"></div>
                <!-- Li's Static Home Image Area End Here -->
                <!-- Begin Li's Static Home Content Area -->
                <div class="li-static-home-content">
                    <p>Sale Offer<span>-20% Off</span>This Week</p>
                    <h2>Featured Product</h2>
                    <h2>Sanai Accessories 2018</h2>
                    <p class="schedule">
                        Starting at
                        <span> $1209.00</span>
                    </p>
                    <div class="default-btn">
                        <a href="shop-left-sidebar.html" class="links">Shopping Now</a>
                    </div>
                </div>
                <!-- Li's Static Home Content Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Begin Li's TV & Audio Product Area -->
<section class="product-area li-laptop-product li-tv-audio-product pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Meat and Vegetables</span>
                    </h2>
                  
                </div>
                <div class="row">
                    
                            {% if meat_vegetables %}
                                    {% for meat_vegetable in meat_vegetables %}
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="{{meat_vegetable.image.url}}" alt="Li's Product Image">
                                    </a>
                                    
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="#">{{meat_vegetable.name}}</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="">Click to View</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">${{meat_vegetable.price}}</span>
                                        </div>
                                    </div>
                                    <!-- <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active addtocart" data-action = "add" data-product="{{meat_vegetable.id}}" >Add to Cart</li>
                                           
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                                {% endfor %}
                            {% else %}
                            <h3>Noting Available</h3>
                            {% endif %}
                            <!-- single-product-wrap end -->
                       
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<div class="group-featured-product pt-60 pb-40 pb-xs-25">
    <div class="container">
        <div class="row">
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product">
                    <div class="li-section-title">
                        <h2>
                            <span>Tubers</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">
                            <div class="row">
                                {% if tubers %}
                                    {% for tuber in tubers %}
                                <div class="group-featured-pro-wrapper">
                                    <div class="product-img">
                                        <a href="">
                                            <img alt="" src="{{tuber.image.url}}">
                                        </a>
                                    </div>
                                    <div class="featured-pro-content">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="{% url 'tuber_page' %}">{{tuber.name}}</a>
                                            </h5>
                                        </div>
                                        <div class="rating-box">
                                            <ul class="rating">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <h4><a class="featured-product-name" href="">{{tuber.brief}}</a></h4>
                                        <div class="featured-price-box">
                                            <span class="new-price">${{tuber.price}}</span>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product pt-sm-10 pt-xs-25">
                    <div class="li-section-title">
                        <h2>
                            <span>beauty and health</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">
                            
                            
                            <div class="row">
                                {% if beauty_healths %}
                                    {% for beauty_health in beauty_healths %}
                                <div class="group-featured-pro-wrapper">
                                    <div class="product-img">
                                        <a href="">
                                            <img alt="" src="{{beauty_health.image.url}}">
                                        </a>
                                    </div>
                                    <div class="featured-pro-content">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="">{{beauty_health.name}}</a>
                                            </h5>
                                        </div>
                                        <div class="rating-box">
                                            <ul class="rating">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <h4><a class="featured-product-name" href="">{{beauty_health.brief}}</a></h4>
                                        <div class="featured-price-box">
                                            <span class="new-price">${{beauty_health.price}}</span>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product pt-sm-10 pt-xs-25">
                    <div class="li-section-title">
                        <h2>
                            <span>Drinks</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">
                            <div class="row">
                                {% if drinks %}
                                    {% for drink in drinks %}
                                <div class="group-featured-pro-wrapper">
                                    <div class="product-img">
                                        <a href="">
                                            <img alt="" src="{{drink.image.url}}">
                                        </a>
                                    </div>
                                    <div class="featured-pro-content">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="">{{drink.name}}</a>
                                            </h5>
                                        </div>
                                        <div class="rating-box">
                                            <ul class="rating">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <h4><a class="featured-product-name" href="">{{drink.brief}}</a></h4>
                                        <div class="featured-price-box">
                                            <span class="new-price">${{drink.price}}</span>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
        </div>
    </div>
</div>
<div class="about-us-wrapper pt-60 pb-40">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6 order-last order-lg-first">
                <div class="about-text-wrap">
                    <h2><span>Folly Jay African food store</span>Gives you top notch</h2>
                    <p>We provide the best Beard oile all over the world. We are the worldd best store in indi for Beard Oil. You can buy our product without any hegitation because they truste us and buy our product without any hagitation because they belive and always happy buy our product.</p>
                    <p>Some of our customer say’s that they trust us and buy our product without any hagitation because they belive us and always happy to buy our product.</p>
                    <p>We provide the beshat they trusted us and buy our product without any hagitation because they belive us and always happy to buy.</p>
                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-lg-5 col-md-10">
                <div class="about-image-wrap">
                    <img class="img-full" src="/static/images/product/large-size/13.jpg" alt="About Us" />
                </div>
            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>
<!-- Group Featured Product Area End Here -->

{% endblock %}